body {
    background-color: navy;
}
body img {
    height: auto;
    width: 200px;
}
.index-head-color {
    color: red;
}

.bullet-color-one,s
.bullet-color-two,
.bullet-color-three {
    color: pink;
}

.link-color-one,
.link-color-two,
.link-color-three {
    color: blueviolet;
}


.burger-color {
    background-color: teal;
}
#burger {
    height: auto;
    width: 200px;
}



.om-color {
    background-color: pink;
}
#omelet {
    height:200px;
    width: 200px;
}



.milk-color {
    background-color: bisque;
}
#milk {
    height:auto;
    width: 200px;
}